aside {
  min-width: 200px;
  height: calc(100vh - 170px);
  /* background: rgb(122, 12, 34);    */
  /* background: var(--red); */
  backdrop-filter: blur(5px);
  position: relative;
  transition: margin 0.3s, left 0.3s;
  outline: 3px solid var(--red);
}

aside ul {
  list-style-type: none;
  width: 100%;
  /* background: rgb(255, 200, 18); */
  position: relative;
  padding: 10px;
}

aside ul li {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  /* border: 1px solid black; */
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  cursor: pointer;
  color: var(--red5);
  transition: .4s;
}

aside ul li.active {
  border-left: 5px solid var(--red);
  color: var(--red);
  border-radius: 50%;
}

aside .icon {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: -20px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 1px solid black;
  cursor: pointer;
}

aside.unactive {
  margin-left: -200px;
}

aside.unactive .icon {
  right: -50px;
  rotate: -180deg;
}

@media (max-width: 786px) {
  aside {
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: -100%;
    margin-left: auto;
  }

  aside .icon {
    right: 10px;
    top: 10px;
    position: fixed;

  }
  aside.unactive .icon{
    right: 10px;
    position: fixed;
    top: 10px;
  }

  aside.unactive {
    margin-left: auto;
    left: 0;
  }
  
}
