@import url('MENU_ICON/burger1.css');
@import url('MENU_ICON/burger2.css');
@import url('MENU_ICON/burger3.css');
#menu-icon{
  height: 35px;
  width: 40px;
  position: absolute;
  display: flex;
  cursor: pointer;
  border: 3px solid transparent;
  right: 7px;
  top: 20px;
  z-index: 9999;
  
}
#menu-icon .line{
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
}

#menu-icon .line:nth-child(1){
  top: 0;
}
#menu-icon .line:nth-child(2){
  top: calc(50% - 1.5px);
}

#menu-icon .line:nth-child(3){
  bottom: 0;
} 
@media (width < 650px) {
  #menu-icon .line{
      background: #fff;
  }
}