
@import url("dynamicInfoDesign.css");
@import url("footer.css");
@import url("popUps.css");
@import url("asideBar.css");
@import url("displayItems.css");

:root{
    --red: red;
    --red5: rgba(255, 0, 0, 0.5);
    --yellow5: rgba(255, 255, 0, 0.5);
    --yellow: yellow;
    --black5 : rgba(0,0,0,0.5);
    --black8: rgba(0,0,0,.8);
    --black : rgb(0,0,0);
    --wte : #fff;
    --wte5 : rgba(255, 255, 255, 0.5);
    --wte3 : rgba(255, 255, 255, 0.3);
}

* {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-wrap: wrap;
    scroll-behavior: smooth;
}

.main {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    /* background: ; */
    resize: both;
    border-bottom: 3px solid var(--red);
    backdrop-filter: blur(5px);


    /* background: var(--yellow); */

}

nav .logo {
    height: 100px;
    cursor: pointer;
}
body{
    /* background: var(--black); */
    background-image: linear-gradient(var(--black8),var(--black8)), url('../Images/p2.jpg');
     background-size: cover;
    color: var(--wte);
   
}
@media (max-width:786px) {
    nav .logo {
        height: 65px;
        cursor: pointer;
    }
    body{
        font-size: 0.8em;
    }
nav 
{
    height: 80px;
    /* display: none; */

}
    
}
button{
     border: none;
     background: var(--tomatoRed);
     color: white;
     font-size: 1.1em;
     border-radius: 10px;
}
input{
    border: none;
}

td button{
    margin: 0 5px;
}
h1{
    font-family: 'New Pizza',sans-serif;
}